@using OnlineShopMVC.Helpers
<a href="@Url.Action("AddToCart", "Products",new RouteValueDictionary ( new { productID = ViewData["ProductId"] } ))">
    <img src="@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory,"add-to-cart.png"))" width="300" height="300" />
</a>