<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Shop</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/SearchBar.css" rel="stylesheet" />
    <link href="~/Content/Pager.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @*for the navbar*@
    <!-- Material Design Bootstrap -->
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <!-- Custom Style -->
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <!-- Prism -->
    <link href="~/Content/prism.min.css" rel="stylesheet" />
    <link href="~/Content/Navbar.css" rel="stylesheet" />
</head>
<body>
        @Html.Partial("_NavigationBar")
    <div class="container body-content">
        @Html.Partial("_InfoMessages")
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validators-custom.js"></script>

    @*for the navbar*@
    <script src="~/Scripts/mdb.min.js"></script>
    <script src="~/Scripts/prism.min.js"></script>
    <script src="~/Scripts/navbar.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
</body>
</html>