@using OnlineShopMVC.Helpers;
@{
    ViewBag.Title = "AccessDenied";
}

<h2>Access Denied</h2>
<img src="@Url.Content(@Path.Combine(@Constants.ImagesToolsDirectory,"access-denied.jpg"))" alt="Access Denied" style="width:50%;height:50%"/>